.card-list{
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    &:hover .card:not(:hover){
        -webkit-filter: brightness(.3) ;
        filter: brightness(.3) ;
    }
}